# Email configuration
EMAIL_USER=your-email@yandex.ru
EMAIL_PASS=your-app-password
EMAIL_RECIPIENT=recipient@example.com
EMAIL_RECIPIENTS="{recipient_1: {key: 'hisoka', email: 'bbbb@gmail.com'}, recipient_2: {key: 'fedor', email: 'ddddfsss@mail.ru'}}"

# OpenSea API configuration
OPENSEA_API_KEY=your-opensea-api-key